* {
    font-family: 'Do Hyeon', sans-serif;
}

.mypost {
    width: 95%;
    max-width: 500px;
    height: 800px;
    margin: 60px auto 0 auto;
    padding: 20px 20px 70px 20px;
    box-shadow: 0 0 3px 0 gray;
    border-radius: 20px;
}

.title {
    font-size: 20px;
    color: burlywood;
    margin: 30px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub-title {
    font-size: 40px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login01 {
    font-size: 20px;
}

.category {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.login-check {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.login-check > .btn {
    width: 47%;
}

#floatingUsername, #floatingId {
    width: 60%;
    margin-right: 19px;
}

#floatingInterest {
    width: 18%;
    background-color: #ffffff;
}

#floatingMail {
    width: 77%;
}

.check-area-1 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.check-area-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn-secondary {
    font-size: 20px;
}

input[type='radio'] {
    margin-left: 20px;
}

label {
    margin: 0 5px;
    position: relative;
    top: 10px;
}